/*
Theme Name: Exam - KMC Solutions
Theme URI: 
Author: Edenbert C. Madrigal
Author URI: mailto:denvermadrigal@gmail.com
Description: Lorem Ipsum Dolor Sit Amet.
Version: 2021.1
Requires at least: 5.0
Tested up to: 5.7
Requires PHP: 7.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: -
Text Domain: exam_kmc
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

a {
  text-decoration-skip-ink: auto;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

button {
  outline: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea, input[type=text], input[type=button], input[type=submit], input[type=reset], input[type=search], input[type=password] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 2px;
}

big {
  font-size: 120%;
}

small, sup, sub {
  font-size: 80%;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

dd {
  margin-left: 20px;
}

kbd, tt {
  font-family: courier;
  font-size: 12px;
}

ins {
  text-decoration: underline;
}

del, strike, s {
  text-decoration: line-through;
}

dt {
  font-weight: bold;
}

address, cite, var {
  font-style: italic;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1454px) {
  .container {
    width: 1424px;
  }
}
body {
  font: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 102px;
  margin: 0;
}
.navbar #website-logo {
  display: block;
  padding: 31.5px 0;
}
.navbar #website-logo a, .navbar #website-logo img {
  display: block;
}
.navbar #website-logo img {
  max-width: 100%;
}

#menu-main-menu {
  display: table;
  margin: 0 auto;
  list-style: none;
}
#menu-main-menu li.link {
  float: left;
  padding: 0;
  margin: 0 40px 0 0;
}
#menu-main-menu li.link a {
  outline: none;
  color: #0c0c0e;
  font: 600 18px/102px "Work Sans", sans-serif;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
}
#menu-main-menu li.link a:hover {
  color: #f47820;
  text-decoration: none;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
}
#menu-main-menu li.button {
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
}
#menu-main-menu li.button a {
  display: block;
  color: #fff;
  font: 700 20px/78px "Roboto", sans-serif;
  margin: 12px 0;
  padding: 0;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
}
#menu-main-menu li.button.menu-item-14 a {
  background-color: #003878;
}
#menu-main-menu li.button.menu-item-15 a {
  background-color: #f47820;
}
#menu-main-menu li.button.menu-item-14 a,
#menu-main-menu li.button.menu-item-15 a {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  padding: 0 40px;
}
#menu-main-menu li.button.menu-item-14 a:hover,
#menu-main-menu li.button.menu-item-15 a:hover {
  background-color: #0c0c0e;
  text-decoration: none;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
}

#menu-main-menu:after {
  clear: both;
  content: "";
  display: table;
}

main h1 {
  font: 300 80px/90px "Work Sans", sans-serif;
}
main h1 strong {
  font-weight: 600;
}
main h2 {
  font: 300 60px/70px "Work Sans", sans-serif;
}
main h2 strong {
  font-weight: 600;
}
main h4 {
  font: 600 22px/22px "Work Sans", sans-serif;
  margin: 0 0 20px 0;
  color: #939393;
}
main p {
  font: 400 20px/30px "Work Sans", sans-serif;
  margin: 0 0 20px;
}
main p strong {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
main .wp-block-group.hero {
  background: url(http://exam.kmc/app/uploads/2021/07/hero-img.jpg) #666 center center;
  background-size: cover;
  width: 100%;
  padding: 210px 0 370px 0;
}
main .wp-block-group.hero .wp-block-group__inner-container {
  width: 1424px;
  margin: 0 auto;
}
main .wp-block-group.hero .wp-block-group__inner-container h1 {
  color: #fff;
  margin-bottom: 60px;
}
main .wp-block-group.hero .wp-block-group__inner-container p {
  font: 600 29px/39px "Work Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
main .wp-block-group.expertise {
  background: #003878;
  width: 100%;
  padding: 100px 0;
}
main .wp-block-group.expertise .wp-block-group__inner-container {
  width: 1424px;
  margin: 0 auto;
}
main .wp-block-group.expertise .wp-block-group__inner-container h2 {
  color: #fff;
  margin: 0 0 30px 0;
}
main .wp-block-group.expertise .wp-block-group__inner-container p {
  color: #fff;
}
main .wp-block-group.expertise .wp-block-group__inner-container .wp-block-columns.expertise-columns {
  padding: 0 30px;
  margin: 40px 0 0 0;
}
main .wp-block-group.expertise .wp-block-group__inner-container .wp-block-columns.expertise-columns p {
  font: 600 24px/34px "Work Sans", sans-serif;
  color: #fff;
}
main .wp-block-group.why-lorem {
  background: url(http://exam.kmc/app/uploads/2021/07/why-lorem.jpg) #e3e4e2 right top;
  background-size: cover;
  width: 100%;
  padding: 100px 0;
}
main .wp-block-group.why-lorem .wp-block-group__inner-container {
  width: 1424px;
  margin: 0 auto;
}
main .wp-block-group.why-lorem .wp-block-group__inner-container h2 {
  color: #0c0c0e;
  margin: 0 0 30px 0;
}
main .wp-block-group.why-lorem .wp-block-group__inner-container p {
  color: #0c0c0e;
  font-weight: 300;
}
main .wp-block-group.why-lorem .wp-block-group.why-lorem-numbers h3 {
  font: 600 70px/80px "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #f47820;
}
main .wp-block-group.why-lorem .wp-block-group.why-lorem-numbers p {
  margin-bottom: 0 !important;
}
main .wp-block-group.why-lorem .wp-block-group.why-lorem-numbers p strong {
  font: 600 24px/34px "Work Sans", sans-serif;
}
main .wp-block-group.why-lorem .wp-block-group.why-lorem-numbers p.wln-p-1 {
  margin-bottom: 100px !important;
}
main .wp-block-group.why-lorem .wp-block-group.why-lorem-numbers h3.wln-p-2 {
  margin-top: 220px !important;
}
main .wp-block-group.business-outcomes {
  background-color: #fff;
  width: 100%;
  padding: 100px 0 50px 0;
}
main .wp-block-group.business-outcomes .wp-block-group__inner-container {
  width: 1424px;
  margin: 0 auto;
}
main .wp-block-group.business-outcomes .wp-block-group__inner-container h2 {
  color: #0c0c0e;
  margin: 0 0 30px 0;
}
main .wp-block-group.business-outcomes .wp-block-group__inner-container p {
  color: #0c0c0e;
  font-weight: 300;
}
main .wp-block-group.business-outcomes .wp-block-group__inner-container .wp-block-group.business-outcomes-columns .bo-images figure {
  float: unset !important;
  display: block;
}
main .wp-block-group.business-outcomes .wp-block-group__inner-container .wp-block-group.business-outcomes-columns .wp-block-column {
  margin-bottom: 50px;
}
main #footer {
  background-color: #003878;
  width: 100%;
  padding: 100px 0;
}
main #footer .wp-block-group__inner-container {
  width: 1424px;
  margin: 0 auto;
}
main #footer .wp-block-group__inner-container .wp-block-columns {
  margin: 0 !important;
}
main #footer #footer-right p {
  text-align: right;
  font: 300 18px/22px "Roboto", sans-serif;
  color: #fff;
}

.menu-toggle,
.wln-2-mobile {
  display: none;
}

@media (max-width: 1453px) {
  main .wp-block-group.hero .wp-block-group__inner-container,
main .wp-block-group.expertise .wp-block-group__inner-container,
main .wp-block-group.why-lorem .wp-block-group__inner-container,
main .wp-block-group.business-outcomes .wp-block-group__inner-container,
main #footer .wp-block-group__inner-container {
    width: 1170px;
  }

  .navbar {
    height: 85.7px;
  }

  .navbar #website-logo img {
    height: auto;
    width: 206px;
  }

  #menu-main-menu li.link a {
    line-height: 85.7px;
  }

  #menu-main-menu li.button.menu-item-14 a, #menu-main-menu li.button.menu-item-15 a {
    line-height: 60px;
    padding: 0 20px;
  }

  #menu-main-menu li:not(:last-child) {
    margin-right: 15px !important;
  }

  #menu-main-menu li.link a, #menu-main-menu li.button a {
    font-size: 16px !important;
  }
}
@media (max-width: 1199px) {
  main .wp-block-group.hero .wp-block-group__inner-container,
main .wp-block-group.expertise .wp-block-group__inner-container,
main .wp-block-group.why-lorem .wp-block-group__inner-container,
main .wp-block-group.business-outcomes .wp-block-group__inner-container,
main #footer .wp-block-group__inner-container {
    width: 970px;
  }

  #menu-main-menu .button.menu-item-14 a {
    background-color: unset !important;
    color: #003878;
    padding: 0 !important;
  }
  #menu-main-menu .button.menu-item-15 a {
    background-color: unset !important;
    color: #f47820;
    padding: 0 !important;
  }
}
@media (max-width: 991px) {
  main h1 {
    text-align: center;
    font: 300 60px/70px "Work Sans", sans-serif;
  }
  main h2 {
    font: 300 40px/50px "Work Sans", sans-serif;
  }
  main p {
    font: 400 16px/26px "Work Sans", sans-serif;
  }
  main .wp-block-group.hero .wp-block-group__inner-container,
main .wp-block-group.expertise .wp-block-group__inner-container,
main .wp-block-group.why-lorem .wp-block-group__inner-container,
main .wp-block-group.business-outcomes .wp-block-group__inner-container,
main #footer .wp-block-group__inner-container {
    width: 100%;
  }
  main .wp-block-group.hero {
    padding: 80px 0;
  }
  main .wp-block-group.hero .wp-block-group__inner-container p {
    text-align: center;
    font: 600 22px/32px "Work Sans", sans-serif;
  }
  main .wp-block-group.expertise {
    padding: 80px 0;
  }
  main .wp-block-group.expertise h2, main .wp-block-group.expertise h4, main .wp-block-group.expertise p {
    text-align: center;
  }
  main .wp-block-group.expertise .wp-block-group__inner-container .wp-block-columns.expertise-columns p {
    font: 600 20px/30px "Work Sans", sans-serif;
  }
  main .wp-block-group.why-lorem {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container h2, main .wp-block-group.why-lorem .wp-block-group__inner-container h4, main .wp-block-group.why-lorem .wp-block-group__inner-container p {
    text-align: center;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-columns .wp-block-column.without-content {
    flex-basis: 0% !important;
    display: none;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-columns .wp-block-column.with-content {
    flex-basis: 100% !important;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-group.why-lorem-numbers .wp-block-column {
    display: table;
    margin: 0 auto;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-group.why-lorem-numbers .wp-block-column .wp-block-group.wln-2-mobile {
    margin: 30px 0;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-group.why-lorem-numbers h3 {
    text-align: center;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-group.why-lorem-numbers .wp-block-group.wln-2-mobile .wp-block-group__inner-container {
    width: auto;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-group.why-lorem-numbers p.wln-p-1 {
    margin: 0 !important;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-group.why-lorem-numbers .wln-2-desktop {
    display: none !important;
  }
  main .wp-block-group.why-lorem .wp-block-group__inner-container .wp-block-group.why-lorem-numbers .wln-2-mobile {
    display: block !important;
  }
  main .wp-block-group.business-outcomes .wp-block-group__inner-container h2, main .wp-block-group.business-outcomes .wp-block-group__inner-container h4, main .wp-block-group.business-outcomes .wp-block-group__inner-container p {
    text-align: center;
  }
  main .wp-block-group.business-outcomes .wp-block-group__inner-container .wp-block-group.business-outcomes-columns .bo-images figure img {
    display: table;
    margin: 0 auto;
  }
  main #footer-left,
main #footer-right {
    display: table;
    margin: 0 auto;
  }

  .menu-main-menu-container {
    display: none;
  }

  .navbar .menu-toggle {
    display: table;
    font-size: 26px;
    border: 1px solid #003878;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 17px 0 0 auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .navbar .menu-toggle:hover {
    border: 1px solid #f47820;
    background-color: #f47820;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .navbar .col-md-4,
.navbar .col-md-8 {
    width: 50%;
    float: left;
  }
  .navbar .menu-main-menu-container.open #menu-main-menu,
.navbar .menu-main-menu-container.open {
    display: block;
  }
  .navbar .menu-main-menu-container {
    background-color: #fff;
    border-radius: 0 0 14px 14px;
    position: absolute;
    width: 240px;
    right: 0;
    top: 85px;
  }
  .navbar .menu-main-menu-container.open #menu-main-menu li.link,
.navbar .menu-main-menu-container.open #menu-main-menu li.button {
    float: unset !important;
    margin: 0 !important;
  }
  .navbar .menu-main-menu-container.open #menu-main-menu li.link a,
.navbar .menu-main-menu-container.open #menu-main-menu li.button a {
    text-align: center;
    display: block;
    font: 600 18px/28px "Work Sans", sans-serif !important;
    padding: 5px 0px !important;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
