/*
Theme Name: Exam - KMC Solutions
Theme URI: 
Author: Edenbert C. Madrigal
Author URI: mailto:denvermadrigal@gmail.com
Description: Lorem Ipsum Dolor Sit Amet.
Version: 2021.1
Requires at least: 5.0
Tested up to: 5.7
Requires PHP: 7.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: -
Text Domain: exam_kmc
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}html{scroll-behavior:smooth}body{line-height:1}a{text-decoration-skip-ink:auto}a[href^="tel"]{color:inherit;text-decoration:none}button{outline:0}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}input[type="search"]{-webkit-appearance:textfield}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}

$the-font: 'Work Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$black: #0c0c0e;
$gray: #939393;
$light-gray: #e3e4e2;
$white: #fff;
$orange: #f47820;
$blue: #003878;

@mixin clearfix() {
    clear: both;
    content: '';
    display: table;
}

@mixin no-bullet() {
    list-style: none;
}

@mixin transition_fx($transition_fx: all) {
    transition: $transition_fx 0.3s;
    -webkit-transition: $transition_fx 0.3s;
    -moz-transition: $transition_fx 0.3s;
}

@media (min-width: 1454px) {
    .container {
        width: 1424px;
    }
}

body {
    font: $the-font;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 102px;
    margin: 0;
    #website-logo {
        display: block;
        padding: 31.5px 0;
        a, img {
            display: block;
        }
        img {
            max-width: 100%;
        }
    }
}

#menu-main-menu {
    display: table;
    margin: 0 auto;
    @include no-bullet();
    li.link {
        float: left;
        padding: 0;
        margin: 0 40px 0 0;
        a {
            outline: none;
            color: $black;
            font: $semi-bold 18px/102px $the-font;
            @include transition_fx(color);
        }
        a:hover {
            color: $orange;
            text-decoration: none;
            @include transition_fx(color);
        }
    }
    li.button {
        float: left;
        padding: 0;
        margin: 0 10px 0 0;
        a {
            display: block;
            color: $white;
            font: $bold 20px/78px $roboto;
            margin: 12px 0;
            padding: 0;
            @include transition_fx(background-color);
        }
    }
    li.button.menu-item-14 {
        a {
            background-color: $blue;
        }
    }
    li.button.menu-item-15 {
        a {
            background-color: $orange;
        }
    }
    li.button.menu-item-14,
    li.button.menu-item-15 {
        a {
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            padding: 0 40px;
        }
        a:hover {
            background-color: $black;
            text-decoration: none;
            @include transition_fx(background-color);
        }
    }
}
#menu-main-menu:after {
    @include clearfix();
}

main {
    h1 {
        font: $light 80px/90px $the-font;
        strong {
            font-weight: $semi-bold;
        }
    }
    h2 {
        font: $light 60px/70px $the-font;
        strong {
            font-weight: $semi-bold;
        }
    }
    h4 {
        font: $semi-bold 22px/22px $the-font;
        margin: 0 0 20px 0;
        color: $gray;
    }
    p {
        font: $regular 20px/30px $the-font;
        margin: 0 0 20px;
        strong {
            font-family: $the-font;
            font-weight: $semi-bold;
        }
    }
    .wp-block-group.hero {
        background: url(http://exam.kmc/app/uploads/2021/07/hero-img.jpg) #666 center center;
        background-size: cover;
        width: 100%;
        padding: 210px 0 370px 0;
        .wp-block-group__inner-container {
            width: 1424px;
            margin: 0 auto;
            h1 {
                color: $white;
                margin-bottom: 60px;
            }
            p {
                font: $semi-bold 29px/39px $the-font;
                text-transform: uppercase;
                color: $white;
            }
        }
    }
    .wp-block-group.expertise {
        background: $blue;
        width: 100%;
        padding: 100px 0;
        .wp-block-group__inner-container {
            width: 1424px;
            margin: 0 auto;
            h2 {
                color: $white;
                margin: 0 0 30px 0;
            }
            p {
                color: $white;
            }
            .wp-block-columns.expertise-columns {
                padding: 0 30px;
                margin: 40px 0 0 0;
                p {
                    font: $semi-bold 24px/34px $the-font;
                    color: $white;
                }
            }
        }
    }
    .wp-block-group.why-lorem {
        background: url(http://exam.kmc/app/uploads/2021/07/why-lorem.jpg) $light-gray right top;
        background-size: cover;
        width: 100%;
        padding: 100px 0;
        .wp-block-group__inner-container {
            width: 1424px;
            margin: 0 auto;
            h2 {
                color: $black;
                margin: 0 0 30px 0;
            }
            p {
                color: $black;
                font-weight: $light;
            }
        }
        .wp-block-group.why-lorem-numbers {
            h3 {
                font: $semi-bold 70px/80px $the-font;
                margin: 0;
                padding: 0;
                color: $orange;
            }
            p {
                margin-bottom: 0 !important;
            }
            p strong {
                font: $semi-bold 24px/34px $the-font;   
            }
            p.wln-p-1 {
                margin-bottom: 100px !important;
            }
            h3.wln-p-2 {
                margin-top: 220px !important;
            }
        }
    }
    .wp-block-group.business-outcomes {
        background-color: $white;
        width: 100%;
        padding: 100px 0 50px 0;
        .wp-block-group__inner-container {
            width: 1424px;
            margin: 0 auto;
            h2 {
                color: $black;
                margin: 0 0 30px 0;
            }
            p {
                color: $black;
                font-weight: $light;
            }
            .wp-block-group.business-outcomes-columns {
                .bo-images {
                    figure {
                        float: unset !important;
                        display: block;
                    }
                }
                .wp-block-column {
                    margin-bottom: 50px;
                }
            }
        }
    }
    #footer {
        background-color: $blue;
        width: 100%;
        padding: 100px 0;
        .wp-block-group__inner-container {
            width: 1424px;
            margin: 0 auto;
            .wp-block-columns {
                margin: 0 !important;
            }
        }
        #footer-right {
            p {
                text-align: right;
                font: $light 18px/22px $roboto;
                color: $white;
            }
        }
    }
}

.menu-toggle,
.wln-2-mobile {
    display: none;
}
@media (max-width: 1453px) {
    main {
        .wp-block-group.hero,
        .wp-block-group.expertise,
        .wp-block-group.why-lorem,
        .wp-block-group.business-outcomes,
        #footer {
            .wp-block-group__inner-container {
                width: 1170px;
            }
        }
    }
    .navbar {
        height: 85.7px;
    }
    .navbar #website-logo img {
        height: auto;
        width: 206px;
    }
    #menu-main-menu li.link a {
        line-height: 85.7px;
    }
    #menu-main-menu li.button.menu-item-14 a, #menu-main-menu li.button.menu-item-15 a {
        line-height: 60px;
        padding: 0 20px;
    }
    #menu-main-menu li:not(:last-child) {
        margin-right: 15px !important;
    }
    #menu-main-menu li.link a, #menu-main-menu li.button a {
        font-size: 16px !important;
    }
}
@media (max-width: 1199px) {
    main {
        .wp-block-group.hero,
        .wp-block-group.expertise,
        .wp-block-group.why-lorem,
        .wp-block-group.business-outcomes,
        #footer {
            .wp-block-group__inner-container {
                width: 970px;
            }
        }
    }
    #menu-main-menu {
        .button.menu-item-14 {
            a {
                background-color: unset !important;
                color: $blue;
                padding: 0 !important;
            }
        }
        .button.menu-item-15 {
            a {
                background-color: unset !important;
                color: $orange;
                padding: 0 !important;
            }
        }
    }
}
@media (max-width: 991px) {
    main {
        h1 {
            text-align: center;
            font: $light 60px/70px $the-font;
        }
        h2 {
            font: $light 40px/50px $the-font;
        }
        p {
            font: $regular 16px/26px $the-font;
        }
        .wp-block-group.hero,
        .wp-block-group.expertise,
        .wp-block-group.why-lorem,
        .wp-block-group.business-outcomes,
        #footer {
            .wp-block-group__inner-container {
                width: 100%;
            }
        }
        .wp-block-group.hero {
            padding: 80px 0;
            .wp-block-group__inner-container {
                p {
                    text-align: center;
                    font: $semi-bold 22px/32px $the-font
                }
            }
        }
        .wp-block-group.expertise {
            padding: 80px 0;
            h2, h4, p {
                text-align: center;
            }
            .wp-block-group__inner-container {
                .wp-block-columns.expertise-columns {
                    p {
                        font: $semi-bold 20px/30px $the-font;
                    }
                }
            }
        }
        .wp-block-group.why-lorem {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            .wp-block-group__inner-container {
                h2, h4, p {
                    text-align: center;
                }
                .wp-block-columns {
                    .wp-block-column.without-content {
                        flex-basis: 0% !important;
                        display: none;
                    }
                    .wp-block-column.with-content {
                        flex-basis: 100% !important;
                    }
                }
                .wp-block-group.why-lorem-numbers {
                    .wp-block-column {
                        display: table;
                        margin: 0 auto;
                        .wp-block-group.wln-2-mobile {
                            margin: 30px 0;
                        }
                    }
                    h3 {
                        text-align: center;
                    }
                    .wp-block-group.wln-2-mobile {
                        .wp-block-group__inner-container {
                            width: auto;
                        }
                    }
                    p.wln-p-1 {
                        margin: 0 !important;
                    }
                    .wln-2-desktop {
                        display: none !important;
                    }
                    .wln-2-mobile {
                        display: block !important;
                    }
                }
            }
        }
        .wp-block-group.business-outcomes {
            .wp-block-group__inner-container {
                h2, h4, p {
                    text-align: center;
                }
                .wp-block-group.business-outcomes-columns {
                    .bo-images {
                        figure {
                            img {
                                display: table;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
        #footer-left,
        #footer-right {
            display: table;
            margin: 0 auto;
        }
    }
    .menu-main-menu-container {
        display: none;
    }
    .navbar {
        .menu-toggle {
            display: table;
            font-size: 26px;
            border: 1px solid $blue;
            padding: 10px 15px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            margin: 17px 0 0 auto;
            @include transition_fx();
        }
        .menu-toggle:hover {
            border: 1px solid $orange;
            background-color: $orange;
            color: $white;
            @include transition_fx();
        }
        .col-md-4,
        .col-md-8 {
            width: 50%;
            float: left;
        }
        .menu-main-menu-container.open #menu-main-menu,
        .menu-main-menu-container.open {
            display: block;
        }
        .menu-main-menu-container {
            background-color: #fff;
            border-radius: 0 0 14px 14px;
            position: absolute;
            width: 240px;
            right: 0;
            top: 85px;
        }
        .menu-main-menu-container.open {
            #menu-main-menu li.link,
            #menu-main-menu li.button {
                float: unset !important;
                margin: 0 !important;
            }
            #menu-main-menu li.link a,
            #menu-main-menu li.button a {
                text-align: center;
                display: block;
                font: 600 18px/28px "Work Sans", sans-serif !important;
                padding: 5px 0px !important;
                margin: 0;
            }
        }
    }
}